body
{
    background-color: #181818;
}
header
{
    color: rgb(255, 255, 255);
}
ul.nav
{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    word-spacing: 16px;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin: 50px 338px;
    padding-right: 28px;
    font-size: small;
}
div.logo
{
    color: rgb(255, 255, 255);
    top: 25px;
    left: 169px;
    position: absolute;
}
span
{
    color: #3cacff;
}
div.hr
{
    background-color: white;
    width: 1px;
    height: 625px;
    position: absolute;
    top: 0px;
    left: 91px;
}
ul.languages
{
    list-style-type: none;
    margin: -93px -7px;
    padding: 0px 29px;
    position: absolute;
    white-space: pre-line;
    color: rgb(255, 255, 255);
}
div.fa
{
    position: absolute;
    bottom: 60px;
    color: white;
    transform: rotateZ(270deg);
    font-size: small;
    letter-spacing: 1px;
}
div.in
{
    position: absolute;
    color: white;
    transform: rotateZ(270deg);
    bottom: 153px;
    left: 7px;
    font-size: small;
    letter-spacing: 1px;
}
div.tw
{
    position: absolute;
    color: white;
    transform: rotateZ(270deg);
    bottom: 230px;
    left: 17px;
    font-size: small;
    letter-spacing: 1px;
}
h1
{
    position: absolute;
    color: white;
    left: 231px;
    top: 12rem;
    width: 27rem;
    font-size: xxx-large;
}
p.ca
{
    color: white;
    position: absolute;
    left: 14.6rem;
    bottom: 13.6rem;
    width: 19rem;
    letter-spacing: 2px;
    font-size: small;
}
li.en
{
    color: #810fff;
    text-shadow: 0px 0px 10px #810fff;
}
div.browse
{
    color: white;
    background-color: #3cacff;
    display: flex;
    margin: 23rem 12rem;
    width: 10rem;
    height: 4rem;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    padding-left: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 50px 0px #3cacffb0;
    text-shadow: 0px 0px 10px white;
}
img.dow
{
    width: 3rem;
    left: 13rem;
    bottom: 5.3rem;
    position: absolute;
    box-shadow: 0px 0px 0px 0px white;
    filter: invert(1);
}
div.intro
{
    color: white;
    background-color: #1e1e1e;
    display: flex;
    margin: 23rem 27rem;
    width: 10rem;
    height: 4rem;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    padding-left: 3rem;
    border-radius: 1rem;
    text-shadow: 0px 0px 15px white;
    box-shadow: inset 0px 0px 20px 0px #ffffff1f;
}
img.play
{
    width: 2.5rem;
    left: 28.6rem;
    bottom: 5.55rem;
    position: absolute;
    filter: drop-shadow(2px 2px 10px white);
}
div.fream
{
    height: 35rem;
    width: 17rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
    border: 15px solid #0f99ff;
    border-radius: 4.5rem;
}
img.cat
{
    position: absolute;
    right: 0rem;
    transform: rotatey(180deg);
    bottom: 0rem;
    width: 27rem;
    filter: drop-shadow(4px 3px 30px black);
}
img.right
.left
{
    
}
